
<!--<header-part>loading header part</header-part>-->

<!--<my-main-content>loading main content</my-main-content>-->

<div>
  <header>
    <h1>Home Site</h1>

    <tabset>
      <tab heading='Rent'>
        <router-outlet></router-outlet>
      </tab>
      <tab>
        <template tabHeading>Tab 2</template>
        Tab 2 content
      </tab>
    </tabset>

    <!--<nav>
        <a [routerLink]="['/rent']" href="">Rent</a>
    </nav>-->
  </header>
  <!--<main>
    <section>
      <router-outlet></router-outlet>
    </section>
  </main>-->
</div>
